# Ignore everything
*

# Allow only these files
!.gitignore
!Uniform_Gnosis_Volume_I.docx
!Uniform_Gnosis_Volume_I.html
!Uniform_Gnosis_Volume_I.pdf
!LICENSE
!README.md
!index.html
!Sentient_AI_Framework.html
!images/
!images/**
